.m-calendar {
  display: inline-block; }

.m-calendar table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

.m-calendar td {
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  color: #dfe0e4;
  border: 1px solid #dfe0e4; }

.m-calendar thead td {
  color: #1385e5;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px; }

.m-calendar tbody td {
  color: #666; }

.m-calendar tbody td:hover {
  background: #1385e5;
  border-color: #1385e5;
  color: #fff; }

.m-calendar .current-day {
  color: #1385e5;
  font-weight: 700; }

.m-calendar .next-month, .m-calendar .prev-month {
  color: #999; }

.m-calendar .toolbar {
  line-height: 30px;
  color: #1385e5;
  text-align: center;
  margin-bottom: 13px; }

.m-calendar .toolbar button {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border: 1px solid #1385e5;
  border-radius: 50%;
  background: #1385e5;
  font-size: 20px;
  padding: 0;
  text-align: center;
  outline: 0;
  z-index: 5;
  cursor: pointer; }

.m-calendar .toolbar .prev-month {
  float: left; }

.m-calendar .toolbar .next-month {
  float: right; }

.m-calendar .toolbar .current-date {
  color: #1385e5; }

.m-time {
  color: #fff;
  padding-top: 50px; }

.m-time .showtime {
  text-align: center; }

.m-time .separater {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  color: #1385e5;
  width: 32px;
  height: 65px;
  line-height: 65px;
  text-align: center; }

.m-time .time-text {
  position: relative;
  left: -10px;
  font-size: 15px;
  color: #1385e5;
  margin-top: 7px;
  margin-bottom: 10px; }

.m-time .sliders {
  padding: 0 10px; }

.m-time .time {
  width: 65px;
  height: 65px;
  display: inline-block;
  font-size: 38px;
  line-height: 65px;
  background-color: #1385e5;
  border-radius: 3px;
  text-align: center; }

.u-slider-time {
  position: relative;
  display: inline-block;
  background-color: #dfe0e4;
  border-radius: 3px;
  height: 4px;
  width: 100%;
  cursor: pointer; }

.u-slider-time .value {
  position: absolute;
  background-color: #1385e5;
  border-radius: 3px;
  top: 0;
  height: 100%; }

.u-slider-time .handle {
  position: absolute;
  width: 4px;
  height: 4px; }

.u-slider-time .handle:after {
  position: relative;
  display: block;
  content: '';
  top: -10px;
  left: -12px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 3px solid #1385e5;
  border-radius: 50%;
  cursor: pointer; }

.im-btn {
  display: inline-block;
  background-color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 1; }

.im-btn:before {
  margin-right: 6px; }

.m-input-moment {
  display: inline-block;
  width: 330px;
  padding: 12px 15px;
  border-radius: 3px;
  border: 1px solid #dfe0e4; }

.m-input-moment .options {
  width: 100%;
  display: inline-block;
  margin-bottom: 4px; }

.m-input-moment .options button {
  float: left;
  width: 50%;
  color: #1385e5;
  text-align: center;
  font-size: 16px;
  padding: 7px;
  border: 1px solid #1385e5;
  border-radius: 3px; }

.m-input-moment .options button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.m-input-moment .options button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.m-input-moment .options button.is-active {
  color: #fff;
  background-color: #1385e5; }

.m-input-moment .tab {
  display: none;
  height: 310px; }

.m-input-moment .tab.is-active {
  display: block; }

.m-input-moment .tabs {
  margin-bottom: 11px; }

.m-input-moment .btn-save {
  display: block;
  margin-top: 10px;
  width: 100%;
  background-color: #1385e5;
  padding: 12px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 3px; }

html {
  font-size: 12pt;
  font-family: 'PT Sans';
  overflow-y: scroll; }

a {
  color: #006DCE;
  text-decoration: none;
  border-bottom: 1px solid #006DCE; }

a.pseudo {
  border-bottom-style: dashed; }

a.pseudo.warning {
  color: red;
  border-bottom-color: red; }

.edit-expense > table > tbody > tr > td {
  vertical-align: top;
  padding: 0.25rem 0.5rem; }

.edit-expense__field__label {
  text-align: right; }

.edit-expense__category-picker-wrapper {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0.5rem; }

.category-picker__category {
  margin: 0.1rem 0.3rem;
  padding: 0.2rem;
  cursor: pointer; }
  .category-picker__category__title {
    display: inline;
    border-bottom: 1px dashed #006DCE;
    color: #006DCE; }
  .category-picker__category--selected .category-picker__category__title {
    background: #EEEFAA;
    border-bottom: none;
    color: inherit; }

.category-picker__children {
  padding-left: 20px; }

.category-picker__empty {
  font-style: italic; }

.edit-category-list__category {
  cursor: pointer; }
  .edit-category-list__category__title {
    display: inline;
    font-weight: bold; }
  .edit-category-list__category--selected .edit-category-list__category__title {
    background: #EEEFAA;
    border-bottom: none;
    color: inherit; }
  .edit-category-list__category__controls {
    visibility: hidden;
    display: inline; }
  .edit-category-list__category__content {
    display: inline-block;
    padding: 0.4rem 0.4rem; }

.edit-category-list__category:hover .edit-category-list__category__content {
  background: #EEEFAA; }

.edit-category-list .edit-category-list__category:hover .edit-category-list__category__controls {
  visibility: visible; }

.edit-category-list__children {
  padding-left: 20px; }

.edit-category-list__empty {
  font-style: italic; }

.edit-category-list__new-root-category {
  margin: 1rem 0; }
  .edit-category-list__new-root-category .edit-category-list__new-root-category__link.pseudo {
    margin: 0; }

.edit-category-list a.pseudo {
  font-size: 0.8rem;
  margin: 0 0.8rem; }

.m-input-moment {
  background: white; }

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal-container__column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .modal-container__column__cell {
      background: white;
      border-radius: 4px;
      padding: 0.5rem; }

.wait-indicator {
  position: fixed;
  top: 0;
  left: 0;
  background: orange;
  width: 100%;
  text-align: center;
  font-size: 0.70rem;
  color: white;
  font-weight: bold;
  opacity: 0.65;
  padding: 0.25rem 0; }

.user-panel {
  position: fixed;
  top: 0;
  right: 0;
  background: #EEEFAA;
  text-align: center;
  font-size: 0.70rem;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0.75rem; }

.tabs-container__labels__label {
  padding: 0.5rem 1rem;
  background: #EEEFEE;
  display: inline-block; }

.tabs-container__labels__label--active {
  background: #EEEFAA; }

.tabs-container__content {
  padding: 1rem; }

.history {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .history__title {
    font-weight: bold;
    margin: 1rem 0; }
  .history__filters {
    width: 20%;
    padding: 0rem 0rem 0rem 2rem; }
  .history__results {
    width: 60%; }
  .history__year-month-filter__year {
    font-weight: bold;
    margin: 0.5rem 0 0 0; }
  .history__year-month-filter__month {
    margin: 0.25rem 1rem; }
  .history__year-month-filter__item--active span {
    background: #EEEFAA; }
  .history__current-filter {
    margin: 1rem 0;
    font-size: 0.75rem;
    color: #999;
    font-style: italic; }

.expense-list__group__title {
  font-weight: bold;
  margin: 1rem 0; }

.expense-list .expense-list__expense {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 1rem 0; }
  .expense-list .expense-list__expense__time {
    margin: 0rem 1rem;
    color: #ABABAB;
    font-size: 0.5rem;
    font-style: italic;
    line-height: 1.5rem; }
  .expense-list .expense-list__expense__amount {
    font-style: italic;
    font-weight: bold;
    display: inline; }
  .expense-list .expense-list__expense__category {
    font-size: 1rem;
    display: inline; }
  .expense-list .expense-list__expense__comment {
    color: #ABABAB;
    font-size: 0.75rem;
    font-style: italic; }
  .expense-list .expense-list__expense__controls {
    display: none;
    padding-left: 1rem; }
    .expense-list .expense-list__expense__controls a.pseudo {
      margin: 0 1rem;
      font-size: 0.8rem; }

.expense-list .expense-list__expense:hover .expense-list__expense__controls {
  display: block; }

.confirm-dialog {
  padding: 1rem; }
  .confirm-dialog__msg {
    font-weight: bold;
    text-align: center; }
  .confirm-dialog__controls {
    text-align: center;
    padding: 1rem 0.5rem 0rem 0.5rem; }
    .confirm-dialog__controls > button {
      margin: 0 0.25rem; }

.drop-down-container {
  position: relative; }
  .drop-down-container__bg {
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .drop-down-container__body {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    padding: 1rem;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.sum-table-statistics__year__month {
  font-weight: bold;
  padding: 1rem 0.8rem; }

.sum-table-statistics__year__category {
  font-style: italic;
  padding: 0.25rem 0.8rem; }

.sum-table-statistics__year__value {
  padding: 0.25rem 0.8rem;
  white-space: nowrap;
  text-align: right; }
  .sum-table-statistics__year__value__dif {
    font-size: 0.75rem; }
    .sum-table-statistics__year__value__dif--plus {
      color: red; }
    .sum-table-statistics__year__value__dif--minus {
      color: green; }

.unauthorized {
  margin: auto 0; }
  .unauthorized__caption {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem; }
