@import './node_modules/input-moment/dist/input-moment';

html {
    font-size: 12pt;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: #006DCE;
    text-decoration: none;
    border-bottom: 1px solid #006DCE;
}

a.pseudo {
    border-bottom-style: dashed;
}

a.pseudo.warning {
    color: red;
    border-bottom-color: red;
}

button {
    border: 1px solid #EFEFEF;
    background: #FBFBFB;
    border-radius: 7px;
    padding: 10px 15px;
    /* box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.16); */
    margin: 5px;
    font-weight: bold;
    color: #5F5F5F;
}

.logo {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;

    &__title {
        &__span {
            padding: 1rem;
            letter-spacing: 0.75rem;
        }
    }

}

.category-picker {
    &__category {

        cursor: pointer;
        padding: 0 5px;

        &__title {
            display: inline;
        }

        &__empty {
            font-style: italic;
        }

        &--selected &__title {
            border-bottom: none;
            color: inherit;
        }

        &--selected &__empty {
            background: #EEEFAA;
        }


        &--selected {
            background: #EEEFAA;
        }

    }

    &__children {
    }


}

.edit-expense {

    display: flex;
    flex-direction: column;



	> table > tbody > tr > td {
		vertical-align: top;
	    //padding: 0.25rem 0.5rem;
	}

    &__row {
        display: flex;
        flex-direction: row;

        > table {
            margin: 0 1rem;
        }
    }

	&__field {
	    &__label {
	        font-weight: bold;
	    	//text-align: right;
            //font-size: 1.25rem;
	    }

	    &__input {
            padding-bottom: 1rem;

            input {
                //font-size: 1.25rem;
            }
        }
	}

    &__category-picker-wrapper {
        border: 1px solid #999;
        border-radius: 5px;
        padding: 0;

        > .category-picker > .category-picker__category:first-child {
            border-radius: 5px 5px 0 0;
        }

        > .category-picker > .category-picker__category:last-child {
            border-radius: 0 0 5px 5px;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;


    }



}



.edit-category-list {
    &__category {
        cursor: pointer;

        &__title {
            display: inline;
            font-weight: bold;
        }

        &--selected &__title {
            background: #EEEFAA;
            border-bottom: none;
            color: inherit;
        }

        &__controls {
            visibility: hidden;
            display: inline;
        }

        &__content {
            display: inline-block;
            padding: 0.4rem 0.4rem;
        }

    }

    &__category:hover &__category__content {
        background: #EEEFAA;
    }

    #{&}__category:hover #{&}__category__controls {
        visibility: visible;

    }



    &__children {
        padding-left: 20px;
    }

    &__empty {
        font-style: italic;
    }

    &__new-root-category {
        margin: 1rem 0;

        #{&}__link.pseudo {
            margin: 0;
        }
    }

    a.pseudo {
        font-size: 0.8rem;
        margin: 0 0.8rem;
    }


}

.m-input-moment {
    background: white;
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: center;

    &__column {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__cell {
            background: white;
            border-radius: 4px;
            padding: 0.5rem
        }
    }
}

.wait-indicator {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255, 165, 0);
    width: 100%;
    text-align: center;
    font-size: 0.70rem;
    color: white;
    font-weight: bold;
    opacity: 0.65;
    padding: 0.25rem 0;
}

.user-panel {
    position: fixed;
    top: 0;
    right: 0;
    background: #EEEFAA;
    text-align: center;
    font-size: 0.70rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
}

.tabs-container {
    &__labels {

        display: flex;
        flex-direction: row;
        justify-content: center;

        &__label {
            padding: 0.5rem 1rem;
            background: #EEEFEE;
            display: inline-block;
            border-radius: 5px;
            margin: 0 5px;
        }

        &__label--active {
            background: #EEEFAA;
        }
    }

    &__content {
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
}


.history {
    display: flex;

    &__title {
        font-weight: bold;
        margin: 1rem 0;
    }

    &__filters {
        width: 200px;
        padding: 0rem 0rem 0rem 1rem;
    }

    &__results {
        width: 800px;
    }

    &__year-month-filter {

        &__year {
            font-weight: bold;
            margin: 0.5rem 0 0 0;
        }

        &__month {
            margin: 0.25rem 1rem;
        }

        &__item--active {
            span {
                background: #EEEFAA;
            }
        }

    }

    &__current-filter {
        margin: 1rem 0;
        font-size: 0.75rem;
        color: #999;
        font-style: italic;
    }

    /* Customize category picker for filters */
    &__filters .category-picker {
        &__category {
            margin: 0.1rem 0.3rem;
            padding: 0.2rem;

            &__title {
                display: inline;
                border-bottom: 1px dashed #006DCE;
                color: #006DCE;
            }

            &__empty {
                font-style: italic;
            }

            &--selected &__title {
                background: #EEEFAA;
                border-bottom: none;
                color: inherit;
            }

            &--selected &__empty {
                background: #EEEFAA;
            }

            cursor: pointer;
        }

        &__children {
            padding-left: 20px;
        }

    }

}

.expense-list {

    $expense: #{&}__expense;

    &__group {
        &__title {
            font-weight: bold;
            margin: 1rem 0;
        }
    }

    #{$expense} {
        display: flex;
        padding: 0 0 1rem 0;

        &__first-line {
        }

        &__time {
            margin: 0rem 1rem;
            color: #ABABAB;
            font-size: 0.5rem;
            font-style: italic;
            line-height: 1.5rem;
        }

        &__amount {
            font-style: italic;
            font-weight: bold;
            display: inline;
        }

        &__desc1 {
            font-size: 1rem;
            display: inline;
        }

        &__desc2 {
            color: #ABABAB;
            font-size: 0.75rem;
            font-style: italic;
        }

        &__controls {
            visibility: hidden;
            padding-left: 1rem;

            a.pseudo {
                margin: 0 1rem;
                font-size: 0.8rem;
            }

        }
    }

    #{$expense}:hover {
        #{$expense}__controls {
            visibility: visible;
        }
    }



}



.confirm-dialog {
    padding: 1rem;

    &__msg {
        font-weight: bold;
        text-align: center;
    }

    &__controls {
        text-align: center;
        padding: 1rem 0.5rem 0rem 0.5rem;

        > button {
            margin: 0 0.25rem;
        }
    }
}

.drop-down-container {
    position: relative;

    &__bg {
        position: fixed;
        background: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__body {
        position: absolute;
        z-index: 99999;
        top: 0;
        left: 0;
        padding: 1rem;
        border-radius: 4px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

}

.statistics {
}

.sum-table-statistics {
    &__year {
        &__month {
            font-weight: bold;
            padding: 1rem 0.8rem;
        }

        &__category {
            font-style: italic;
            padding: 0.25rem 0.8rem;
        }

        &__value {
            padding: 0.25rem 0.8rem;
            white-space: nowrap;
            text-align: right;

            &__dif {
                font-size: 0.75rem;

                &--plus {
                    color: red;
                }

                &--minus {
                    color: green;
                }

                &--zero {
                    color: rgb(222, 222, 222);
                }

            }
        }

        &__total {

            &__title {
                font-style: italic;
                font-weight: bold;
                padding: 0.25rem 0.8rem 0.25rem 0;
            }

            &__value {
                padding: 0.25rem 0.8rem;
                white-space: nowrap;
                text-align: right;
                font-weight: bold;
            }

            &__dif {
                font-size: 0.75rem;

                &--plus {
                    color: red;
                }

                &--minus {
                    color: green;
                }

            }
        }
    }
}


.unauthorized {
    margin: auto 0;
    &__caption {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
    }

    &__button {
        text-align: center;

        a {
            border: 0;
        }
    }



}