@import './node_modules/input-moment/dist/input-moment';

html {
    font-size: 12pt;
    font-family: 'PT Sans';
}

a {
    color: #006DCE;
    text-decoration: none;
    border-bottom: 1px solid #006DCE;
}

a.pseudo {
    border-bottom-style: dashed;
}

a.pseudo.warning {
    color: red;
    border-bottom-color: red;
}

.new-expense {

    

	> table > tbody > tr > td {
		vertical-align: top;
	    padding: 0.25rem 0.5rem;	
	}

	&__field {
	    &__label {
	    	text-align: right;
	    }
	}
}

.category-picker {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0.5rem;

    &__category {
        > div {
           padding: 0.1rem 0.3rem;	
        }

        &--selected {
            background: #dfe0e4;
            font-weight: bold;
            color: #666;
        }

        cursor: default;
    }

    &__children {
        padding-left: 20px;
    }

}

.m-input-moment {
    background: white;
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: center;

    &__column {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__cell {
            background: white;
            border-radius: 4px;
            padding: 0.5rem
        }
    }
}

.wait-indicator {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255, 165, 0);
    width: 100%;
    text-align: center;
    font-size: 0.70rem;
    color: white;
    font-weight: bold;
    opacity: 0.65;
    padding: 0.25rem 0;
}

.tabs-container {
    &__labels {
        &__label {
            padding: 0.5rem 1rem;
            background: #EEEFEE;
            display: inline-block;
        }

        &__label--active {
            background: #EEEFAA;
        }
    }

    &__content {
        padding: 1rem;
    }
}


.history {

    $expense: #{&}__expense;

    &__group {
        &__title {
            font-weight: bold;
            margin: 1rem 0;
        }
    }

    #{$expense} {
        display: flex;
        padding: 0 0 1rem 0;

        &__first-line {
        }

        &__time {
            margin: 0rem 1rem;
            color: #ABABAB;
            font-size: 0.5rem;
            font-style: italic;
            line-height: 1.5rem;
        }

        &__amount {
            font-style: italic;
            font-weight: bold;
            display: inline;
        }

        &__category {
            font-size: 1rem;
            display: inline;
        }

        &__comment {
            color: #ABABAB;
            font-size: 0.75rem;
            font-style: italic;
        }

        &__controls {
            display: none;
            padding-left: 1rem;
        }
    }

    #{$expense}:hover {
        #{$expense}__controls {
            display: block;
        }
    }

    a.pseudo {
        margin: 0 1rem;
        font-size: 0.8rem;
    }
}


.confirm-dialog {
    padding: 1rem;

    &__msg {
        font-weight: bold;
        text-align: center;
    }

    &__controls {
        text-align: center;
        padding: 1rem 0.5rem 0rem 0.5rem;

        > button {
            margin: 0 0.25rem;
        }
    }
}